* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

:root {
  --svg-white-color: #f5f5f5;
  --svg-dark-color: #000000;

  --light-grey-color: #d9d9d9;
  --dark-grey-color: #7a7a7a;

  --border-radius: 20px;

  --svg-big-size-height: 40px;
  --svg-big-size-width: 50px;

  --svg-small-size-height: 30px;
  --svg-small-size-width: 40px;

  --small-svg-background-height: 76.65px;
  --small-svg-background-width: 77.89px;

  --big-svg-background-height: 66.55px;
  --big-svg-background-width: 65px;

  --white-text-color: #f5f5f5;
  --grey-text-color: #7a7a7a;

  --body-color: #000000;
  --grids-dark-color: #1f1f1f;
  --grid-grey-color: #7a7a7a;
}

body {
  background-color: var(--body-color);
  color: var(--white-text-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: 0.9fr 1.5fr 0.8fr;
  grid-template-rows: 1fr 0.1fr;
  column-gap: 20px;
  row-gap: 5px;
  border-radius: var(--border-radius);
  /* box-shadow: rgba(56, 56, 56, 0.56) 0px 22px 70px 4px; */
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  row-gap: 30px;
}

.home-search-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--grids-dark-color);
  border-radius: var(--border-radius);
  padding: 8px;
  /* box-shadow: rgba(73, 73, 73, 0.4) 0px 30px 90px; */
}

.home-container,
.search-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.search-input-container {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
}

#search-input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 16px;
  color: var(--white-text-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

#search-input-small {
  width: 75%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 16px;
  color: var(--white-text-color);
  padding: 3px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.nested-container {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr 6fr;
  row-gap: 10px;
  background-color: var(--grids-dark-color);
  border-radius: var(--border-radius);
  padding: 10px;
  /* box-shadow: rgba(73, 73, 73, 0.4) 0px 30px 90px; */
}

.playlist-container-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.playlist-icon-container {
  margin-right: auto;
}

.playlist-container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playlist-container-3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-icon-small-container {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.playlist-container-4 {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.playlist-box {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius);
}

.vinyl-icon-small,
.playlist-icon,
.plus-icon,
.right-arrow-icon,
.search-icon-small,
.down-arrow-icon {
  height: var(--svg-small-size-height);
  width: var(--svg-small-size-width);
}

.playlist-box div p {
  border-bottom: 3px solid var(--dark-grey-color);
}

.vinyl-icon-small-container {
  background-color: var(--light-grey-color);
  height: var(--small-svg-background-height);
  width: var(--small-svg-background-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  width: 87px;
  height: 33px;
  background-color: var(--light-grey-color);
  text-align: center;
  padding: 8px;
  border-radius: var(--border-radius);
}

.options p {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.container-2 {
  display: grid;
  grid-template-rows: 1fr 1.5fr 4fr 1fr 3fr;
  gap: 15px;
  background-color: var(--grids-dark-color);
  border-radius: var(--border-radius);
  box-shadow: rgba(105, 105, 105, 0.4) 0px 30px 90px;
}

.main-box-1 {
  display: flex;
  flex: 1;
  padding: 10px;
  gap: 15px;
}

.right-arrow-icon-container {
  margin-right: auto;
}

.main-box-2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

h3 {
  font-size: 36px;
  font-weight: 800;
  color: var(--white-text-color);
}

.icon {
  background-color: var(--svg-white-color);
  border-radius: var(--border-radius);
}

.main-box-3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.main-playlist-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--grid-grey-color);
  border-radius: var(--border-radius);
}

.vinyl-icon-big {
  width: 66px;
  height: 67px;
}

.main-playlist-container div p {
  font-size: 22px;
  font-weight: bold;
}

.main-box-4 {
  align-self: center;
  display: grid;
  grid-template-columns: 2fr 3fr 0.5fr 0.5fr;
  padding: 10px;
  gap: 5px;
}

.daily-mix-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.daily-box {
  width: 90%;
  height: 95%;
  place-self: center;
  background-color: var(--grid-grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--border-radius);
}

.cassette-icon {
  width: 66px;
  height: 67px;
}

h5 {
  font-size: 24px;
}

.footer-container {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 3fr 1fr;
  background-color: var(--grid-grey-color);
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

.music-controller-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  align-content: center;
  align-content: space-evenly;
  gap: 15px;
}

.current-img {
  border-radius: var(--border-radius);
}

.music-bar {
  position: relative;
  align-self: center;
  grid-row: 2;
  grid-column: 2 / 5;

  width: 100%;
  height: 25px;
  background-color: var(--light-grey-color);
  color: var(--body-color);
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-bar::before {
  content: attr(data-label);
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.start-time {
  grid-row: 2 / 3;
  justify-self: end;
  align-self: center;
}

.end-time {
  grid-row: 2 / 3;
  grid-column: 5;
  justify-self: start;
  align-self: center;
}

.shuffle-container {
  justify-self: center;
}

.repeat-container {
  justify-self: center;
}

.play-container {
  justify-self: center;
  height: 55px;
  width: 55px;
}

.next-container {
  justify-self: center;
}

.previous-container {
  justify-self: center;
}

.music-name-like-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

.play-icon {
  background-color: var(--svg-white-color);
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

.sound-controller-container {
  grid-row: 2;
  align-self: start;
  display: flex;
  align-items: end;
  gap: 5px;
}

.volume-bar-container {
  align-self: start;
  display: flex;
  align-items: end;
  gap: 5px;
}

.volume-bar1 {
  width: 0.5rem;
  height: 1rem;
  background-color: #000000;
  border-radius: 0.5rem;
}

.volume-bar2 {
  width: 0.5rem;
  height: 1.5rem;
  background-color: #000000;
  border-radius: 0.5rem;
}

.volume-bar3 {
  width: 0.5rem;
  height: 2rem;
  background-color: #000000;
  border-radius: 0.5rem;
}

.volume-bar4 {
  width: 0.5rem;
  height: 2.5rem;
  background-color: #000000;
  border-radius: 0.5rem;
}

.music-playing-img-container {
  align-self: center;
  justify-self: start;
}

.container-3 {
  padding: 10px;
  background-color: var(--grids-dark-color);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.3fr;
  align-content: start;
  justify-content: center;
  gap: 5px;
}

.add-friend-icon-container {
  background-color: var(--svg-white-color);
  border-radius: var(--border-radius);
  width: 50px;
  height: 40px;
}

.add-friend-icon,
.close-icon {
  place-content: center;
}

.close-icon-container {
  background-color: var(--svg-white-color);
  border-radius: var(--border-radius);
  width: 50px;
  height: 40px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ************ Hover - effects ********** */
.home-icon,
.search-icon-big,
.playlist-icon,
.plus-icon,
.right-arrow-icon,
.search-icon-small,
.down-arrow-icon,
.left-icon,
.right-icon,
.user-icon,
.add-friend-icon {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.close-icon {
  cursor: pointer;
  transition: all 0.5s ease;
}

.home-icon:hover:active,
.search-icon-big:hover:active,
.playlist-icon:hover:active,
.plus-icon:hover:active,
.right-arrow-icon:hover:active,
.search-icon-small:hover:active,
.down-arrow-icon:hover:active,
.left-icon:hover:active,
.right-icon:hover:active,
.user-icon:hover:active,
.add-friend-icon:hover:active {
  cursor: pointer;
  transform: scale(1.1);
}

.close-icon:hover:active {
  cursor: pointer;
  transform: rotate(180deg);
}

.opt-1,
.opt-2,
.opt-3 {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.opt-1:hover:active,
.opt-2:hover:active,
.opt-3:hover:active {
  cursor: pointer;
  transform: translateY(-4px);
}

/****** Vinyl playlist small ******/
.Playlist-small-1,
.Playlist-small-2,
.Playlist-small-3 {
  cursor: pointer;
  transition: all 0.3s ease;
}

.Playlist-small-1:hover:active,
.Playlist-small-2:hover:active,
.Playlist-small-3:hover:active {
  cursor: pointer;
  background-color: #363636;
}

/* ********************************* */

/****** Vinyl playlist big ******/

.playlist-big-1,
.playlist-big-2,
.playlist-big-3 {
  cursor: pointer;
  transition: all 0.3s ease;
}

.playlist-big-1:hover:active,
.playlist-big-2:hover:active,
.playlist-big-3:hover:active {
  background-color: #9b9b9b;
  cursor: pointer;
}

/* ******************************* */

/******** Daily Mix Boxes *********/

.daily-box-1,
.daily-box-2,
.daily-box-3 {
  cursor: pointer;
  transition: all 0.3s ease;
}

.daily-box-1:hover:active,
.daily-box-2:hover:active,
.daily-box-3:hover:active {
  background-color: #9b9b9b;
  cursor: pointer;
}

/* ***************************** */

/* ********* Music control container **** */
.heart-icon,
.shuffle-icon,
.previous-icon,
.next-icon,
.repeat-icon,
.play-icon {
  transition: all 0.2s ease;
  cursor: pointer;
}

.heart-icon:hover:active,
.shuffle-icon:hover:active,
.previous-icon:hover:active,
.next-icon:hover:active,
.repeat-icon:hover:active {
  background-color: var(--svg-white-color);
  border-radius: 10px;
  transform: scale(1.1);
}

/* ************************************** */

/* *** Volume bars ********* */
.volume-bar1,
.volume-bar2,
.volume-bar3,
.volume-bar4 {
  transition: all 0.3s ease;
  cursor: pointer;
}

.volume-bar1:hover:active,
.volume-bar2:hover:active,
.volume-bar3:hover:active,
.volume-bar4:hover:active {
  background-color: var(--svg-white-color);
  transform: scale(1.08);
}

/* ************************ */

/* ************************* Media Queries *************/
@media (max-width: 925px) {
  .daily-mix-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.1fr);
  }

  .main-box-3 {
    grid-template-rows: repeat(3, 0.2fr);
  }

  .playlist-container-4 {
    justify-content: start;
  }

  .container-2 {
    grid-template-rows: 0.3fr 0.4fr 0.5fr 0.3fr 0.6fr;
    gap: 15px;
  }
}
